<section class="category mt-5">
  <h3 class="fs-17 fw-500 color-wh  pb-2">Popular Musics</h3>
  <div class="owl-carousel fourOwl owl-theme">
    <div class="tb-music-box-md music" *ngFor="let item of popular">
      <div class="tb-music-box-md music">
        <img [src]="item.img">
        <div class="overlayer  top-0 position-absolute w-100 h-100 align-items-start  p-2 linear-black player">
          <div class="position-relative w-100 h-100 justify-content-between flex-column d-flex">
            <button class="menu trans-me w-100 d-flex justify-content-end align-items-center color-wh fs-11" *ngIf="token" [id]="item.id">
              <i class="fas fa-ellipsis-v"></i></button>
            <div class="toggles">
            </div>
            <div class="song-lower d-flex">
              <button class="trans-me pr-2 color-sv play" id="{{ item.id }}"><i
                  class="fas fa-play"></i></button>
              <div class="song-info">
                <h4 class="color-wh fs-14 fw-600 text-uppercase mb-0">{{ item.name }}</h4>
                <h5 class="color-sv fs-11 fw-300">{{ item.band }}</h5>
              </div>
            </div>
            <div class="dropdown position-absolute"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="category mt-5">
  <h3 class="fs-17 fw-500 color-wh  pb-2">New Release</h3>
  <div class="owl-carousel fiveOwl">
    <div class="tb-music-box-sm secBrowse1  d-grid" *ngFor="let item of newRelease">
      <img src="{{ item.img }}">
      <div class="overlay-bx">
        <ion-icon name="ellipsis-vertical-outline" class="icon1 menu" *ngIf="token" [id]="item.id"></ion-icon>
        <button class="trans-me pr-2 color-sv play" id="{{ item.id }}"><i
          class="fas fa-play"></i></button>
      </div>
      <div class="musicInfo">
        <h3 class="fs-12 fw-400 pl-2 pt-3 color-wh">{{ item.name }}</h3>
        <h4 class="fs-10 fw-400 pl-2 pb-3 color-sv">{{ item.band }}</h4>
      </div>
    </div>
  </div>
</section>
<section class="category mt-5">
  <h3 class="fs-17 fw-500 color-wh  pb-2">Random Picks</h3>
  <div class="owl-carousel fiveOwlLooper mb-3">
    <div class="tb-music-box-sm secBrowse1  d-grid" *ngFor="let item of rand">
      <img src="{{ item.img }}">
      <div class="overlay-bx">
        <ion-icon name="ellipsis-vertical-outline" class="icon1 menu" *ngIf="token" [id]="item.id"></ion-icon>
        <button class="trans-me pr-2 color-sv play" id="{{ item.id }}"><i
          class="fas fa-play"></i></button>
      </div>
      <div class="musicInfo">
        <h3 class="fs-12 fw-400 pl-2 pt-3 color-wh">{{ item.name }}</h3>
        <h4 class="fs-10 fw-400 pl-2 pb-3  color-sv">{{ item.band }}</h4>
      </div>
    </div>
  </div>
</section>
<footer class="pt-5 mb-4 pb-5 border-top">
  <p class="fs-12 color-sv">@ Copyright 2021 Waveme Theme. All Rights Reserved</p>
  <ul class="navbar-nav fs-12 color-wh flex-row">
    <li class="nav-item pr-2">Service Terms</li>
    <li class="nav-item pr-2">Music Policy</li>
    <li class="nav-item pr-2">Cookie Warnings</li>
    <li class="nav-item pr-2">Support</li>
    <li class="nav-item pr-2">Feedback</li>
  </ul>
</footer>

